
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #111;
    overflow: hidden;
}

#game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#map {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}


#player {
    position: absolute;

    font-size: 32px;

    left: 50%;
    top: 75%;

    transform: translate(-50%, -50%);

    z-index: 10;

    user-select: none;
}
